# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
      time: "11:40"
      timezone: "Europe/Oslo"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 20
    ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-patch"]
    groups:
      nav-design-system:
        patterns:
          - "@navikt/ds-*"
          - "@navikt/aksel-icons"
          - "@navikt/familie-*"
          - "@navikt/nav-dekoratoren-moduler"
          - "@navikt/oasis"
          - "@navikt/fnrvalidator"

      react-core:
        patterns:
          - "react"
          - "react-dom"
          - "react-router"
          - "react-cookie"
          - "styled-components"
          - "classnames"

      content-cms:
        patterns:
          - "@sanity/client"
          - "@portabletext/*"

      observability:
        patterns:
          - "@sentry/*"
          - "@grafana/faro-web-sdk"
          - "unleash-client"

      backend-runtime:
        patterns:
          - "express"
          - "compression"
          - "cors"
          - "cookie-parser"
          - "express-rate-limit"
          - "http-proxy-middleware"
          - "csp-header"
          - "dotenv"
          - "mustache-express"
          - "uuid"
          - "xss"

      http-and-utils:
        patterns:
          - "axios"
          - "date-fns"
          - "ramda"
          - "i18n-iso-countries"
          - "jsdom"

      typescript-types:
        patterns:
          - "typescript"
          - "ts-*"
          - "@types/*"

      build-tooling:
        patterns:
          - "webpack*"
          - "babel*"
          - "@babel/*"
          - "@vitejs/plugin-react"
          - "css-loader"
          - "style-loader"
          - "mini-css-extract-plugin"
          - "html-webpack-plugin"
          - "terser-webpack-plugin"
          - "copy-webpack-plugin"

      linting-formatting:
        patterns:
          - "eslint*"
          - "@eslint/js"
          - "@typescript-eslint/*"
          - "prettier"

      testing:
        patterns:
          - "vitest"
          - "vitest-mock-extended"
          - "@testing-library/*"
          - "cypress"
          - "msw"
          - "@axe-core/react"

      dev-workflow:
        patterns:
          - "husky"
          - "lint-staged"
          - "concurrently"
          - "react-refresh"
          - "react-dev-utils"

      patch-minor-misc:
        update-types:
          - "patch"
          - "minor"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every week
      interval: "weekly"
    cooldown:
      default-days: 7
